.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: #D3A715;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #efcd5e;
}
