.actions {
  /* padding: auto; */
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.3rem 0.75rem;
  border-radius: 15px;
}

.actions button:hover,
.actions button:active {
  background-color: #fae89ee9;
  color: #515151;
}

.actions.active button {
  color: #ffffff;
  background-color: #ffcd00;
}