.devShowcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.devProfile {
  display: inline-block;
  margin: 4rem 4rem 4rem 4rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: none;
  border-style: solid;
  border-width: 3px;
  border-color: #ffcd00;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
