.devProfile {
  /* Styles for the container of the developer profile */
  font-family: "Inter", sans-serif;
  display: flex;
  width: 45%;
  margin-bottom: 4rem;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  color: white;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.devProfilePic {
  /* Styles for the developer profile picture */
  width: 35%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devProfilePic img {
  /* Styles for the image inside the developer profile picture */
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.devProfileName {
  /* Styles for the developer profile name */
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.5rem;
}

.devProfileBio {
  /* Styles for the developer profile bio */
  font-size: 16px;
  text-align: justify;
  margin-top: 0.5rem;
}

.devProfile a {
  /* Styles for the link in the developer profile */
  color: #ffe552;
  text-decoration: none;
  display: inline-block;
  margin-top: 0.5rem;
  border-bottom: 2px solid #ffe552;
  border-color: #ffe552;
}

.rightCol {
  margin-left: 1rem;
}
