.graphPositionOutline {
    background-color: transparent;
    border-width: 1px;
    border-color: #66a6c8;
    border-style: solid;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    text-align: center;
}