doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Timestamps Charts
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
  body
    h1 Timestamps Charts
    h2 Last Hour Chart
    canvas#lastHourChart(width="200", height="100")
    h2 Hourly Counts Chart
    canvas#hourlyCountsChart(width="400", height="200")
    script.
      const lastHourCtx = document.getElementById('lastHourChart').getContext('2d');
      const hourlyCountsCtx = document.getElementById('hourlyCountsChart').getContext('2d');

      const lastHourTimestamps = !{JSON.stringify(lastHourTimestamps)};
      const hourlyCounts = !{JSON.stringify(hourlyCounts)};

      new Chart(lastHourCtx, {
        type: 'bar',
        data: {
          labels: ['Number of Items'],
          datasets: [{
            label: 'Last Hour Timestamps Count',
            data: [lastHourTimestamps.length],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      new Chart(hourlyCountsCtx, {
        type: 'bar',
        data: {
          labels: Array.from({ length: 16 }, (_, i) => (i + 6) + '-'+(i + 7)),
          datasets: [{
            label: 'Hourly Counts',
            data: hourlyCounts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
