// chart.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Slug Meter
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="../styles.css")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

  body(style="background-color: #1295D8;")

    div#aboveNavbarBox(style="height: 8.5rem; background-color: #ffcd00; display: flex; align-items: center; justify-content: center; padding: 0 0;")
      img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh_vBTmA9e3Hl-vfoMm5ullXMZXosZxFHsGWqDCBC_sA&s", alt="SlugRec Logo")
      h3(style="margin: 0; color: white;") Slug Meter
    nav.navbar.navbar-expand-lg(style=" background-color: #ffcd00")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarNav.text-center
        ul.navbar-nav.mx-auto
          li.nav-item
            a.nav-link(href="/") Live
          li.nav-item
            a.nav-link(href="/trends", style="color: #FF6E1B") Trends
          li.nav-item
            a.nav-link(href="/about") About
    
    div.container-fluid(style="margin-top:5vh; width: 130vh; display: flex; flex-direction: column; align-items: start; justify-content: center;")
      div
        h2(style="color: white;") Occupancy History
    div.container-fluid(style="margin-top:1vh; height: 60vh; width: 110vh; display: flex; align-items: start; justify-content: center;")
      div(style="display: flex; justify-content: space-between; align-items: flex-end; background-color: #005581;")
        canvas#hourlyCountsChart(width="700", height="350" style="background-color:#DBD5CD;")
        div#buttonContainer(style="display: flex; flex-direction: column; align-items: start; margin-right: 1vh; padding-left: 1vh; margin-bottom: 9vh;")
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Monday    
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Tuesday  
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Wednesday 
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Thursday   
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Friday  
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white; margin-bottom: 2vh;") Saturday  
          button.btn.btn-outline-primary.btn-sm(type="button" style="color: white;") Sunday   
      
        

    script.
      const hourlyCountsCtx = document.getElementById('hourlyCountsChart').getContext('2d');
      const hourlyCounts = !{JSON.stringify(hourlyCounts)};

      
      new Chart(hourlyCountsCtx, {
        type: 'bar',
        data: {
          labels: Array.from({ length: 16 }, (_, i) => (i + 6) + '-'+(i + 7)),
          datasets: [{
            label: 'Hourly Counts',
            data: hourlyCounts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    br
    br
    br